.popup__sumButton {
  width: 100%;
  padding: 14px;
  margin-top: 28px;
  color: white;
  background-color: black;
  border: 0;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.popup__sumButton:hover {
  opacity: .8;
}

@media screen and (max-width: 600px) {
  .popup__sumButton {
    margin-top: 17px;
    font-size: 14px;
    line-height: 17px;    
  }
}