.elements {
  margin-top: 51px;
  width: 880px;
  display: grid;
  grid-auto-columns: repeat(3, 1fr);
  grid-auto-rows: repeat(auto-fill, 1fr);
  row-gap: 20px;
  column-gap: 17px;
  grid-template-areas: 
  "element element element"
  "element element element";
}

@media screen and (max-width: 900px) {
  .elements {
    width: 581px;
    grid-auto-columns: repeat(2, 1fr);
    grid-template-areas: 
    "element element"
    "element element"
    "element element";
  }
}

@media screen and (max-width: 600px) {
  .elements {
    width: 282px;
    grid-auto-columns: 1fr ;
    grid-template-areas: 
    "element"
    "element"
    "element"
    "element"
    "element"
    "element";
  }
}