.header {
  width: 880px;
  height: 74px;
  margin-top: 45px;
  border-bottom: 1px rgba(84, 84, 84, .7) solid;
}

@media screen and (max-width: 900px) {
  .header {
    width: 581px;
    height: 56px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    margin-top: 28px;
    width: 282px;
  }
}