.popup__professia {
  margin-bottom: 48px;
  width: 358px;
  height: 30px;
  margin-left: 36px;
  border: 0;
  border-bottom: 1px rgba(0, 0, 0, .2) solid;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media screen and (max-width: 600px){
  .popup__professia {
    margin-left: 22px;
    max-width: 238px;
    width: 100%;
  }
}