.popup__closeIcon {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: 0;
  background: rgba(0, 0, 0, 0) url(../../../image/popup__close.png) no-repeat center;
  cursor: pointer;
}

.popup__closeIcon:hover {
  opacity: .6;
}

@media screen and (max-width: 600px){
  .popup__closeIcon {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}