.popup__inputName {
  margin-top: 34px;
  height: 27px;
  width: 358px;
  margin-left: 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
  border: 0;
  border-bottom: 1px rgba(0, 0, 0, .2) solid;
}

@media screen and (max-width: 600px) {
  .popup__inputName {
    width: 238px;
    margin: 0;
    margin-top: 55px;
  }
}