.element__love {
  width: 22px;
  height: 19px;
  border: none;
  align-self: center;
  margin-right: 20px;
  background: url(../../../image/love.png) no-repeat center;
}

.element__love:hover {
  opacity: .5;
}